    <section class="mainPage">
      <div class="container">
        <div class="welcome-content">
          <div class="title">
            <h1>Добро пожаловать в Распределяй!</h1>
          </div>
          <div class="description">
            <div class="description-part">
              <div class="description-part-title">Цель</div>
              <div class="description-part-text">
                Приложение создано для того, чтобы помочь вам управлять своими
                финансами
              </div>
            </div>
            <div class="description-part">
              <div class="description-part-title">Для кого</div>
              <div class="description-part-text">
                Приложение идеально подходит для тех, кто получает свой доход
                два раза в месяц. То есть для тех, кто работает в найме.
              </div>
            </div>
            <div class="description-part">
              <div class="description-part-title">Главная идея</div>
              <div class="description-part-text">
                Мы предлагаем распределить ваши доходы на категории, которые вы
                определите для себя сами. Также мы поможем распределить ваши
                доходы с учетом того что деньги поступают вам два раза в месяц.
              </div>
            </div>
            <div class="description-part">
              <div class="description-part-title">Срок</div>
              <div class="description-part-text">
                Предлагаем вести учет в разрезе месяца.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
